html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: #FFFFFF;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flower {
  width: 500px;
  height: 500px;
  position: relative;
}
.ball{
  position: absolute;
  width: 250px;
  height: 250px;
  border-radius: 100%;
}
#ball1{  /* 上 */
   left: 125px; 
}
#ball2{  /* 下 */
   left: 125px;
   top: 250px;
}
#ball3{  /* 左 */
   top: 125px;
}
#ball4{  /* 右 */
   left: 250px;
   top: 125px;
}
#ball5{  /* 左上 */
   left: 36px;
   top: 36px;
}
#ball6{  /* 右下 */
   left: 213px;
   top: 213px;
}
#ball7{  /* 右上 */
   left: 214px;
   top: 36px;
}
#ball8{  /* 左下 */
   left: 36px;
   top: 213px;
}
/* animation */
@keyframes color-change {
    0%  {background: rgba(252, 83, 193, 0.3);}
    10% {background: rgba(252, 83, 193, 0.7);}
    20% {background: rgba(252, 193, 83, 0.7);}
    40% {background: rgba(252, 193, 83, 0.3);} 
    50% {background: rgba(83, 193, 252, 0.3);}
    60% {background: rgba(83, 193, 252, 0.7);}
    70% {background: rgba(193, 83, 252, 0.7);}
    80% {background: rgba(193, 83, 252, 0.3);}
    90% {background: rgba(193, 252, 83, 0.3);}
    100% {background: rgba(193, 252, 83, 0.7);} 
}

/* The element to apply the animation to */
.ball {
    animation-name: color-change;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}